


<p id="notice"><%= notice %></p>


<% if @is_indexpage %>
<div class="container">

<h3 class="center-align" >Drummer Of The Month:</h3>
<h4 class="center-align">Marian Li Pino </h4>
<div class="row"><center>
<img class="responsive-img col s7 pull-s1" src="https://www.moderndrummer.com/wp-content/uploads/2018/05/Marian-Li-Pino-048.jpg" width="95%" height="95%">
<p class="col s5 pull-s1 ">Meet Marian Li Pino, an awesome drummer from San Diego, Ca. She plays in a band called La Luz that the critics
like to classify as 'surf' and 'psychedlic.' Whatever you want to call it, they rule and Li Pino's drumming 
perfectly compliments the layered and melodic guitars. Their latest album FLOATING FEATURES is a monstrous output;
the band is at their best and Li Pino is ripping so hard on the drums. Check it out! </p>
</center>
<ul>
<li><a class="red-text" href="https://laluz.bandcamp.com/album/floating-features">Floating Features by La Luz</a></li>
</ul>
</div>

<% elsif @category == 'Education' %>
<div class="container">

<h3>Educational Resource of the month:</h3>
<h5>Thomas Pridgen - An Interesting Drum(Life) Lesson </h5>
<div class="row">
<iframe class="responsive-img col s9 push-s1" width="560" height="315" src="https://www.youtube.com/embed/ke1it_OvCc4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
<div>
<p class="row col s5">Hey there family, I am glad to be posting this new stellar video of Thomas Pridgen giving an excellent drum lesson. If you are not
familiar with the former child prodigy and current Grammy-winning musician, let me get you up to speed: he is an absolute
thrill to watch shred on the drums. And 'shred' is the appropriate word because his style is very aggressive and technical. He's played with the 
Mars Volta, Christian Scott, Keisha Cole, Trash Talk and many more. 
Just recently, Pridgen was on tour with Residente, Extra Nappy(Pridgen's own band), and Eros Ramazzotti.
He speaks on his practice routines, his inspirations and becoming a better musician. His laid-back and confident approach to 
teaching makes this video a pleasure to watch. Thomas talks a whole lot about
his experiences within the music industry and gives advice to viewers in a Q&A session. You really don't want to miss this month's Educational Resource; Thomas Pridgen has
definitely been in the game for a long time and is sharing some vital jewels with us!  </p>
<ul>
<li><a class="green-text" href="https://twitter.com/Thomaspridgen">Follow Thomas Pridgen on Twitter!</a></li>
</ul>
</div>

<% elsif @category == 'Performance' %>
<div class="container">
<h3 class="center-align">Performance of the month:</h3>
<h5 class="center-align">Devon Taylor </h5>
<div class="row">
<center>
<iframe class="responsive-img" width="560" height="315" src="https://www.youtube.com/embed/CP-SDknGpEU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</center>
</div>
<div>
<p class="">This video really grips our attention over here at ILoveDrumming. Devon Taylor has been
ripping on drums for Justin Bieber, Rita Ora, Musiq Soulchild and Zendaya. This solo right here is 
very clean, fluid and fast. As soon as the video, Devon fires off with his insane chops... but keep watching because he can also groove with ease as well.
 He can hold it down for the pop lane but also flip out on some crazy fills!  </p>
<ul>
<li><a class="green-text" href="https://twitter.com/Thomaspridgen">Follow Thomas Pridgen on Twitter!</a></li>
</ul>
</div>

<% elsif @category == 'Products' %>
<div class="container">
<h3>Product of the month:</h3>
<center>
<h5>Vic Firth SD4 Combo </h5>
<div class="row"><img width="400" height="400" src ="https://images.reverb.com/image/upload/s--eKJ7aq0t--/a_exif,c_limit,e_unsharp_mask:80,f_auto,fl_progressive,g_south,h_620,q_90,w_620/v1496126571/mmtusxzjcgvrpl4gfor1.jpg">
</div>
</center>
<div>
<p class="row col s5">These sticks have been a favorite of mine for a long time. They are super light weight yet very effective.
 I have been using them for about 2 years now. I was originally introduced to lightweight Vic Firth
 sticks by another drummer who played Vic Firth American Custom SD2 Bolero's(very similiar to the SD4). I decided the thickness of that stick
 was not suitable for me, but I definitely loved the lightweight feel of it. Thankfully, the SD4 is thinner with a rounded tip. 
 The rounded wood tip makes for a clean articulate cymbal sound. You can definitely use these for rock & roll when you need to but most 
 reviewers have expressly said these are perfect for jazz. No matter the genre you choose, these sticks and their light weight will
 surely help you keep time like never before!  </p>
<ul>
<li><a class="green-text" href="https://www.amazon.com/Vic-Firth-American-Custom-SD2/dp/B0002F4TKU">Grab a pair on Amazon!</a></li>
</ul>
</div>
<% end %>
<hr>
<center><h6>Rules for posting:</h6>
<ul>
<li>Make sure to treat community members with respect!.</li>
<li>Make sure to make relevant posts according to categories.</li>
<li>Enjoy drumming!</li>
</ul>
</center>
<hr>
<table class="centered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Created By</th>
      <th>Date</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%=  link_to post.title, post %></td>
        <td><%= post.category %></td>
        <td><%= post.user.username %></td>
        <td><%= post.created_at %></td>

      </tr>
    <% end %>
  </tbody>
</table>
</center>
<br>
<center>
<%= link_to 'New Post', new_post_path %>
</center>
</div>