<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>

    <%= csrf_meta_tags %>
  </head>

  <body>



<nav>

  <ul class="menu">
  <li><%= link_to 'Home', root_path %> </li>
  <li><%= link_to 'Education', posts_path(category: 'Education') %> </li>
  <li> <%= link_to 'Performance', posts_path(category: 'Performance') %>  </li>
  <li> <%= link_to 'Products', posts_path(category: 'Products') %> </li>
  <% if user_signed_in? %>
  <li><%= link_to 'Sign-Out', destroy_user_session_path, method: :delete	 %>	 </li>
  <li><%= link_to 'Profile', users_profile_path	%>	 </li>

  <% else %>
  <li><%= link_to 'Sign-in', new_user_session_path %>	 </li>
  <li><%= link_to 'Sign-up', new_user_registration_path	%>	 </li>
 
<% end %>

  </ul>
  </nav>


<div class="row">
<br>
 <h2 class="col s7 push-s5">I Love Drumming.Com</h2>
<%= image_tag("blackdrum.png", :class => "col s5 pull-s7 img-responsive") %>
<center>
<p>A site by drummers, for drummers.</p>
</center>
</div>
</div>


    <%= yield %>
  </body>
</html>