<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "iLoveDrumming" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= stylesheet_link_tag    "/assets/app" %>
    <link href="https://fonts.googleapis.com/css?family=Oleo+Script" rel="stylesheet">

    <%= javascript_include_tag "application" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

    <%= csrf_meta_tags %>
  </head>

  <body>



<nav>
<div class="nav-wrapper teal lighten-2">
  <ul class="menu">
  <li><%= link_to 'Home', root_path %> </li>
  <li><%= link_to 'Education', posts_path(category: 'Education') %> </li>
  <li> <%= link_to 'Performance', posts_path(category: 'Performance') %>  </li>
  <li> <%= link_to 'Products', posts_path(category: 'Products') %> </li>
  <% if user_signed_in? %>
  <li><%= link_to 'Sign-Out', destroy_user_session_path, method: :delete	 %>	 </li>
  <li><%= link_to 'Profile', users_profile_path	%>	 </li>

  <% else %>
  <li><%= link_to 'Sign-in', new_user_session_path %>	 </li>
  <li><%= link_to 'Sign-up', new_user_registration_path	%>	 </li>
 
<% end %>

  </ul>
  </div>
  </nav>

<br>
<div class="row">
 <h2 id="site-name" class="col s7 push-s4">I Love Drumming.Com</h2>
<%= image_tag("drummer.png", style: 'width: 300px; height: 300px', :class => "col s5 pull-s5") %>
<center>
</center>
</div>
</div>
<center>
<p>A site by drummers, for drummers.</p>
</center>
<div class="">
<hr>
</div>
    <%= yield %>
  </body>
</html>